.App{
min-height: 100vh;
background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

}

.search-form { 
  min-height: 10vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.search-bar{ 
width: 50%; 
border: none; 
padding: 10px; 
}

.search-button{ 
    background: lightskyblue; 
    border: none; 
    padding: 20px, 20px;
    border-radius: 40em; 
    color: black; 
 }

 .recipe { 
   display: flex;
   justify-content: space-around; 
   flex-wrap: wrap; 
   align-items: center;
  }






